/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos de los botones */
.btn-back, .btn-primary {
    font-size: 1.2rem;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.btn-back {
    background-color: #333;
    color: white;
}

.btn-back:hover {
    background-color: #444;
}

.btn-primary {
    background-color: #1a73e8;
    color: white;
}

.btn-primary:hover {
    background-color: #135eab;
}

/* Imagen del Producto */
.product-image img {
    width: 80%;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.product-image img:hover {
    transform: scale(1.05);
}

/* Información del Producto */
.product-details {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.product-details h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.product-details p {
    font-size: 1.1rem;
}

/* Mensaje de Compra */
.info-additional {
    background-color: #444;
    padding: 25px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.info-additional h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.info-additional p {
    font-size: 1.2rem;
}

/* Estilos de los botones de navegación */
.btn-back, .btn-primary {
    transition: all 0.3s ease;
}

.btn-back:hover, .btn-primary:hover {
    transform: scale(1.05);
}
